<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SmsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.20.0" newVersion="2.2.20.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.FullNetFx" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SmsService.Properties.Settings>
      <setting name="EmailHost" serializeAs="String">
        <value>mail.tbss.lc</value>
      </setting>
      <setting name="EmailLogin" serializeAs="String">
        <value>mercury@tbss.ru</value>
      </setting>
      <setting name="SmtpPort" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="EmailPassword" serializeAs="String">
        <value>sdmn3NH*</value>
      </setting>
      <setting name="NotificatedEmail" serializeAs="String">
        <value>gorin@tbss.ru</value>
      </setting>
      <setting name="UpdateTimeInterval" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="SmsLogin" serializeAs="String">
        <value>TBSS_sms</value>
      </setting>
      <setting name="SmsPassword" serializeAs="String">
        <value>jk3Z7YQMhr</value>
      </setting>
    </SmsService.Properties.Settings>
  </userSettings>
<connectionStrings><add name="SecuritySystemContext" connectionString="metadata=res://*/SecuritySystemContext.csdl|res://*/SecuritySystemContext.ssdl|res://*/SecuritySystemContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql.tbss.lc;initial catalog=SecuritySystem;persist security info=True;user id=sa;password=sasa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
